# Telegram API credentials
API_ID=
API_HASH=

# Your bot token from BotFather
BOT_TOKEN=

# The ID of the group chat where the bot should post
CHAT_ID=

# Your user ID to restrict the /postnow command
OWNER_ID=6040984893

# Your Gemini API Key
GEMINI_API_KEY=